<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lipanampesa" >
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <application>
    <service
        android:name="com.lipanampesa.FloatingService"
        android:enabled="true"
        android:exported="true" />
  </application>
</manifest>